In [1]:
import numpy as np
import pandas as pd
import ast
import re

In [2]:
def fetch_name(obj): 
    L=[]
    if obj is not (None or []):
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L
    else:
        return []

In [3]:
def fetch_name2 (obj):
    try:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L
    except:
        return []

In [4]:
def fetch_names(obj): 
    
    if isinstance(obj, str) and '{' in obj:
        # print(obj)
        dic = ast.literal_eval(obj)

        return dic['name']

In [5]:
#Leo el CSV de peliculas
am_df =pd.read_csv('Datasets/movies_dataset.csv')
autores_df =pd.read_csv('Datasets/credits.csv')

C:\Users\david\AppData\Local\Temp\ipykernel_19088\515977477.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  am_df =pd.read_csv('Datasets/movies_dataset.csv')

In [6]:
am_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
am_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [8]:
# Eliminar columnas "id" y "revenue"
am_df = am_df.drop(['video', 'imdb_id','adult','original_title','poster_path','homepage'], axis=1)

In [9]:
#Aplico Mascara para desanidar columnas
am_df['genres']=am_df['genres'].apply(fetch_name)
am_df['production_companies']=am_df['production_companies'].apply(fetch_name2)
am_df['production_countries']=am_df['production_countries'].apply(fetch_name2)
am_df['spoken_languages']=am_df['spoken_languages'].apply(fetch_name2)

In [10]:
am_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [11]:
am_df['belongs_to_collection'] = am_df['belongs_to_collection'].apply(fetch_names)

In [12]:
am_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0
1,None,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,None,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [13]:
#Cambio el formato de "realease_date" las fechas deberán tener el formato AAAA-mm-dd
am_df['release_date']=pd.to_datetime(am_df['release_date'],errors='coerce')

In [14]:
#Creo la columna release_year
am_df['release_year'] = am_df['release_date'].dt.year

In [15]:
am_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45466 non-null  object
 8   production_countries   45466 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45460 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45466 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  vote_count             45460 non-null  float64
 18  release_year           45376 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(13)
memory usage: 6.6+ MB

In [16]:
#Creo funcion para calcular la columa retorno
def calculate_return2(row):
    revenue = row['revenue']
    budget = row['budget']
    if pd.isna(revenue) or pd.isna(budget):
        return 0
    elif budget.isnumeric() and float(budget) > 0:
        return revenue / float(budget)
    else:
        return 0

In [17]:
#lleno los vacios y nulos con cero
am_df['revenue'] = am_df['revenue'].fillna(0)
am_df['budget'] = am_df['budget'].fillna(0)

In [18]:
#Aplico la funcio apply para llenar la nueva columna
am_df['return'] = am_df.apply(calculate_return2, axis=1)

In [19]:
am_df.sample(10)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
5996,None,0,"[Comedy, Music, Romance]",49409,en,A new-wave extravaganza in which a young woman...,0.039514,"[The Australian Film Commission, Palm Beach Pi...",[Australia],1982-04-08,0.0,105.0,[English],Released,A Comedy Musical.,Starstruck,8.0,1.0,1982.0,0.000000
3600,None,0,[Comedy],60005,en,"When your father is a pornographer, what can y...",0.109065,[],[],2000-06-02,0.0,88.0,[English],Released,There is a first time for everything!,American Virgin,5.2,3.0,2000.0,0.000000
38937,None,0,"[Adventure, Drama]",39301,he,Through the streets of Jerusalem two teenagers...,0.289787,[],[Israel],2006-07-13,0.0,118.0,[עִבְרִית],Released,NaN,Someone to Run With,8.5,2.0,2006.0,0.000000
34519,None,0,[Horror],70448,en,Deborah quickly cultivates a rabid legion of S...,1.112225,[],[United States of America],2010-05-01,0.0,98.0,[English],Released,People are dying to get into this movie,All About Evil,5.6,23.0,2010.0,0.000000
16624,None,37000000,"[Drama, Thriller, Horror]",48171,en,Seminary student Michael Kovak (Colin O'Donogh...,7.128117,"[New Line Cinema, Contrafilm, Mid Atlantic Fil...","[United States of America, Hungary, Italy]",2011-01-28,96047633.0,114.0,"[English, Italiano, Magyar, Pусский, Latin, Cy...",Released,You can only defeat it when you believe.,The Rite,5.8,577.0,2011.0,2.595882
8717,Walking Tall Original Collection,0,"[Action, Crime, Drama]",25473,en,"Buford Pusser's a wrestler, whose wife wants h...",4.689964,[Bing Crosby Productions],[United States of America],1973-02-22,0.0,125.0,[English],Released,Take your best shot... 'cause it'll probably b...,Walking Tall,6.5,32.0,1973.0,0.000000
45172,None,0,[Animation],351423,en,"In 2008, a year before the great Dock Ellis di...",0.094422,[],[],2010-06-01,0.0,5.0,[English],Released,NaN,Dock Ellis & The LSD No-No,9.0,1.0,2010.0,0.000000
34309,None,0,"[Comedy, Drama, Romance]",54256,hi,Sparkling comedy about a meddling friend whose...,0.046196,[Rajvi Pictures],[India],1983-04-23,0.0,175.0,[हिन्दी],Released,NaN,Rang Birangi,4.8,2.0,1983.0,0.000000
22242,None,0,[Drama],57830,ro,A drama about a woman who seems able to overco...,0.548007,[],[Romania],2010-08-14,0.0,87.0,[Română],Released,NaN,Outbound,5.8,4.0,2010.0,0.000000
15794,None,0,[Drama],49813,en,An unemployed ex-office worker (Anna Thomson) ...,0.72343,[AMKO Productions Inc.],[United States of America],1997-01-01,0.0,88.0,[English],Released,NaN,Sue,8.2,3.0,1997.0,0.000000

In [20]:
am_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45466 non-null  object
 8   production_countries   45466 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45466 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45466 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  vote_count             45460 non-null  float64
 18  release_year           45376 non-null  float64
 19  return                 45466 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 6.9+ MB

In [21]:
def fetch_name2 (obj):
    try:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L
    except:
        return []

In [22]:
def fetch_names(obj): 
    
    if isinstance(obj, str) and '{' in obj:
        # print(obj)
        dic = ast.literal_eval(obj)

        return dic['name']

In [23]:
autores_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [24]:
# Definir la función para extraer el nombre del director
def extract_director_name(row):
    crew_list = eval(row['crew'])  # Convertir el string en una lista de diccionarios
    director_name = None
    for crew_member in crew_list:
        if crew_member['job'] == 'Director':
            director_name = crew_member['name']
            break
    return director_name

In [25]:
autores_df['director_name'] = autores_df.apply(extract_director_name, axis=1)

In [26]:
autores_df.drop('crew', axis=1, inplace=True)

In [27]:
autores_df['cast'] = autores_df['cast'].apply(fetch_name2)

In [28]:
autores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cast           45476 non-null  object
 1   id             45476 non-null  int64
 2   director_name  44589 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [29]:
# Eliminar las filas con valores no numéricos en la columna 'id'
am_df = am_df[pd.to_numeric(am_df['id'], errors='coerce').notna()]
autores_df = autores_df[pd.to_numeric(autores_df['id'], errors='coerce').notna()]

In [30]:
# Convertir la columna 'id' a tipo int en ambos DataFrames
am_df['id'] = am_df['id'].astype(int)
autores_df['id'] = autores_df['id'].astype(int)

In [31]:
# Realizar el merge de los DataFrames
merged_df = pd.merge(am_df, autores_df, on='id', how='left', indicator=True)

In [32]:
# Filtrar las filas que no coinciden en el id
new_df = merged_df[merged_df['_merge'] == 'left_only']

In [33]:
# Eliminar la columna _merge
new_df.drop('_merge', axis=1, inplace=True)

C:\Users\david\AppData\Local\Temp\ipykernel_19088\338044887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop('_merge', axis=1, inplace=True)

In [34]:
new_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,cast,director_name
42953,None,0,[],401840,es,Two high school kids mentored by a nightclub o...,0.207775,[],[],2017-05-30,...,[],Released,NaN,School's out,0.0,0.0,2017.0,0.0,NaN,NaN

In [35]:
merged_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,status,tagline,title,vote_average,vote_count,release_year,return,cast,director_name,_merge
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,Released,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter,both
1,None,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,both
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch,both
3,None,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760,"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker,both
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer,both

In [38]:
# Eliminar la columna _merge
merged_df.drop('_merge', axis=1, inplace=True)

In [39]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45539 entries, 0 to 45538
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4500 non-null   object
 1   budget                 45539 non-null  object
 2   genres                 45539 non-null  object
 3   id                     45539 non-null  int32
 4   original_language      45528 non-null  object
 5   overview               44585 non-null  object
 6   popularity             45536 non-null  object
 7   production_companies   45539 non-null  object
 8   production_countries   45539 non-null  object
 9   release_date           45452 non-null  datetime64[ns]
 10  revenue                45539 non-null  float64
 11  runtime                45279 non-null  float64
 12  spoken_languages       45539 non-null  object
 13  status                 45455 non-null  object
 14  tagline                20439 non-null  object
 15  title                  45536 non-null  object
 16  vote_average           45536 non-null  float64
 17  vote_count             45536 non-null  float64
 18  release_year           45452 non-null  float64
 19  return                 45539 non-null  float64
 20  cast                   45538 non-null  object
 21  director_name          44651 non-null  object
dtypes: datetime64[ns](1), float64(6), int32(1), object(14)
memory usage: 7.8+ MB

In [41]:
merged_df.to_csv('datasets/movietrasnf2.csv', index=False)